body {
  font-family: 'Crimson Text', serif;
  font-size: 16px; }
  @media (min-width: 769px) {
    body {
      font-size: 19px; } }

h1, h2, dd {
  margin: 0; }

h1 {
  margin-bottom: 0.75em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (min-width: 769px) {
    h1 {
      font-size: 38px; } }

p {
  margin-bottom: 1.5em;
  line-height: 1.2; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block; }

.l-site {
  width: 100vw;
  overflow: hidden; }

.l-pages {
  width: 400vw;
  display: flex;
  position: relative; }

.l-page {
  position: relative; }
  @media (min-width: 769px) {
    .l-page {
      width: 100vw;
      height: 100vh; } }
  .l-page.t-home::after, .l-page.t-product::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../img/bg.png) repeat-y top left;
    background-size: 942px; }
    @media (min-width: 769px) {
      .l-page.t-home::after, .l-page.t-product::after {
        -webkit-clip-path: polygon(0 0, calc(100% - 30px) 0, calc(100% - 100px) 100%, 0 100%);
        clip-path: polygon(0 0, calc(100% - 30px) 0, calc(100% - 100px) 100%, 0 100%);
        background-position: top right;
        background-size: auto 100%; } }
  .l-page:not(.t-product) {
    overflow: scroll; }
    @media (min-width: 769px) {
      .l-page:not(.t-product) {
        overflow: hidden; } }
  @media (max-width: 768px) {
    .l-page:not(.is-active) {
      height: 100vh; } }

.l-page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.png) no-repeat top right;
  background-size: auto 100%; }

.l-content, .l-product {
  padding: 110px 20px 0; }
  @media (min-width: 769px) {
    .l-content, .l-product {
      padding: 215px 42px 0; } }
  @media (min-width: 1025px) {
    .l-content, .l-product {
      padding: 215px 135px 0 85px; } }

.l-product {
  padding-top: 0; }
  @media (min-width: 769px) {
    .l-product {
      padding-top: 120px; } }

@media (min-width: 769px) {
  .l-row {
    display: flex;
    justify-content: flex-end; } }

@media (min-width: 769px) {
  .l-col-intro-left {
    width: calc(100% / 3 * 2); } }

@media (min-width: 1201px) {
  .l-col-intro-left {
    width: 44%; } }

@media (min-width: 769px) {
  .l-col-intro-right {
    width: calc(100% / 3); } }

@media (min-width: 1201px) {
  .l-col-intro-right {
    width: 56%; } }

@media (min-width: 769px) {
  .l-col-large {
    width: 80%; } }

@media (min-width: 1201px) {
  .l-col-large {
    width: 56%; } }

@media (min-width: 769px) {
  .l-col-third {
    width: calc(100% / 2); } }

@media (min-width: 1201px) {
  .l-col-third {
    width: calc(100% / 3); } }

@media (max-width: 768px) {
  .l-sections {
    padding-top: 110px;
    padding-bottom: 20px; } }

.l-section {
  position: relative; }
  @media (max-width: 768px) {
    .l-section:not(:last-child) {
      margin-bottom: 50px; } }
  @media (min-width: 769px) {
    .l-section {
      height: 100vh; } }

.branding {
  display: flex;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 55px;
  z-index: 10; }
  @media (min-width: 769px) {
    .branding {
      top: 35px;
      left: 35px;
      height: 85px; } }
  .branding img {
    height: 100%; }

.branding-text {
  overflow: hidden;
  width: 120px;
  margin-left: -20px;
  padding-left: 20px; }
  @media (min-width: 769px) {
    .branding-text {
      width: 190px;
      margin-left: -30px;
      padding-left: 30px; } }

.content-body ul {
  margin-bottom: 1.7em; }

.content-img {
  position: relative;
  max-width: 100%; }
  @media (max-width: 768px) {
    .content-img {
      margin-bottom: 20px; } }
  @media (min-width: 769px) {
    .content-img {
      width: 80%; } }
  @media (min-width: 769px) {
    .content-img.t-right {
      float: right;
      right: -42px; } }
  @media (min-width: 1025px) {
    .content-img.t-right {
      right: -135px; } }
  @media (min-width: 769px) {
    .content-img.t-left {
      left: -70px;
      transform: translateY(-48%); } }

.img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 1; }

.img-large {
  width: 100%; }
  .img-large.is-fixed {
    z-index: -10; }
  @media (min-width: 769px) {
    .img-large {
      position: absolute;
      top: 0;
      left: -100px;
      width: 55%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-clip-path: polygon(70px 0, 100% 0, calc(100% - 70px) 100%, 0 100%);
      clip-path: polygon(70px 0, 100% 0, calc(100% - 70px) 100%, 0 100%); } }
  @media (min-width: 1201px) {
    .img-large {
      width: 62%; } }

.intro {
  margin: 0 0 50px 0; }
  @media (min-width: 769px) {
    .intro {
      margin: 13px 0 0 0;
      padding-right: 40px; } }
  .intro dt {
    margin-bottom: 0.15em;
    font-style: italic;
    letter-spacing: 1.2px; }
  .intro dd {
    margin-bottom: 0.7em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase; }
    @media (min-width: 769px) {
      .intro dd {
        font-size: 35px; } }

.intro-slide {
  position: relative;
  overflow: hidden;
  height: calc(1em + 1px);
  font-size: inherit; }
  .intro-slide li {
    position: absolute;
    padding-top: 1px; }
    .intro-slide li:not(.is-active) {
      top: 100%; }
    @media (max-width: 768px) {
      .intro-slide li span {
        display: none; } }

.nav {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10; }
  @media (min-width: 769px) {
    .nav {
      top: 32px;
      right: 27px; } }
  @media (min-width: 1025px) {
    .nav {
      right: 72px; } }
  @media (max-width: 768px) {
    .nav ul {
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 110px 20px 0;
      background: #fff;
      text-align: center;
      transition: opacity 0.4s;
      pointer-events: none; }
      .nav ul.is-active {
        opacity: 1;
        pointer-events: all; } }
  @media (max-width: 768px) {
    .nav ul li {
      margin-bottom: 20px; } }
  .nav ul a {
    display: inline-block;
    margin: 0 16px;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }
    .nav ul a::after {
      content: '';
      display: block;
      position: relative;
      bottom: 5px;
      height: 2px;
      margin: 0 auto;
      background: #000;
      opacity: 0;
      transition: bottom 0.2s, opacity 0.2s; }
    .nav ul a:hover::after, .nav ul a.is-active::after {
      bottom: 0;
      opacity: 1; }
  @media (min-width: 769px) {
    .nav ul {
      display: flex; } }

.nav-burger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  z-index: 11; }
  @media (min-width: 769px) {
    .nav-burger {
      display: none; } }

.nav-burger-inner, .nav-burger-inner::before, .nav-burger-inner::after {
  position: absolute;
  width: 30px;
  height: 3px;
  bottom: 0;
  background-color: #000;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s; }
  .nav-burger-inner::before {
    content: '';
    top: -8px;
    transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .nav-burger-inner::after {
    content: '';
    top: -16px;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear; }

.nav-burger.is-active .nav-burger-inner, .nav-burger.is-active .nav-burger-inner::before, .nav-burger.is-active .nav-burger-inner::after {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg); }
  .nav-burger.is-active .nav-burger-inner::before {
    top: 0;
    transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
    transform: rotate(-90deg); }
  .nav-burger.is-active .nav-burger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
    transform: none;
    opacity: 0; }

.next {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase; }
  .next::before {
    content: url(../img/arrow_right.svg);
    display: block;
    width: 30px;
    margin-bottom: 10px; }
  @media (min-width: 1025px) {
    .next {
      display: block; } }

.tags {
  display: flex;
  margin-bottom: 7px;
  font-size: 13px; }
  .tags li:not(:last-child) {
    margin-right: 14px; }
  .tags li:not(.is-active) {
    text-decoration: line-through; }

/*body {
  

  @include media(">phone", "<=tablet") {
    
  }
}*/
.productslider {
  position: fixed;
  top: 0; }
