body {
  font-family: 'Crimson Text', serif;
  font-size: 16px;

  @include media('>medium') {
    font-size: 19px;
  }
}

h1, h2, dd {
  margin: 0;
}

h1 {
  margin-bottom: 0.75em;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include media('>medium') {
    font-size: 38px;
  }
}

p {
  margin-bottom: 1.5em;
  line-height: 1.2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}