.l-site {
  width: 100vw;
  overflow: hidden;
}

.l-pages {
  width: 400vw;
  display: flex;
  position: relative;
}

.l-page {
  position: relative;

  @include media(">medium") {
    width: 100vw;
    height: 100vh;
  }

  &.t-home,
  &.t-product {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background: url(../img/bg.png) repeat-y top left;
      background-size: 942px;

      @include media(">medium") {
        clip-path: polygon(0 0, calc(100% - 30px) 0, calc(100% - 100px) 100%, 0 100%);
        background-position: top right;
        background-size: auto 100%;
      }
    }
  }

  &:not(.t-product) {
    overflow: scroll;

    @include media(">medium") {
      overflow: hidden;
    }
  }

  &:not(.is-active) {
    @include media("<=medium") {
      height: 100vh;
    }
  }
}

.l-page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  background: url(../img/bg.png) no-repeat top right;
  background-size: auto 100%;
}

.l-content {
  padding: 110px 20px 0;

  @include media(">medium") {
    padding: 215px 42px 0;
  }

  @include media(">large") {
    padding: 215px 135px 0 85px;
  }
}

.l-product {
  @extend .l-content;

  padding-top: 0;

  @include media(">medium") {
    padding-top: 120px;
  }
}

.l-row {
  @include media(">medium") {
    display: flex;
    justify-content: flex-end;
  }
}

.l-col-intro-left {
  @include media(">medium") {
    width: calc(100% / 3 * 2);
  }

  @include media(">xlarge") {
    width: 44%;
  }
}

.l-col-intro-right {
  @include media(">medium") {
    width: calc(100% / 3);
  }

  @include media(">xlarge") {
    width: 56%;
  }
}

.l-col-large {
  @include media(">medium") {
    width: 80%;
  }

  @include media(">xlarge") {
    width: 56%;
  }
}

.l-col-third {
  @include media(">medium") {
    width: calc(100% / 2);
  }

  @include media(">xlarge") {
    width: calc(100% / 3);
  }
}

.l-sections {
  @include media("<=medium") {
    padding-top: 110px;
    padding-bottom: 20px;
  }
}

.l-section {
  position: relative;

  &:not(:last-child) {
    @include media("<=medium") {
      margin-bottom: 50px;
    }
  }

  @include media(">medium") {
    height: 100vh;
  }
}