$breakpoints: (small: 320px, medium: 768px, large: 1024px, xlarge: 1200px);

@import 'node_modules/include-media/dist/_include-media.scss';
@import 'base';
@import 'layout';
@import 'modules/branding';
@import 'modules/content';
@import 'modules/img';
@import 'modules/intro';
@import 'modules/nav';
@import 'modules/next';
@import 'modules/tags';

/*body {
  

  @include media(">phone", "<=tablet") {
    
  }
}*/

.productslider {
  position: fixed;
  top: 0;
}