.branding {
  display: flex;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 55px;
  z-index: 10;

  @include media('>medium') {
    top: 35px;
    left: 35px;
    height: 85px;
  }

  img {
    height: 100%;
  }
}

.branding-text {
  overflow: hidden;
  width: 120px;
  margin-left: -20px;
  padding-left: 20px;

  @include media('>medium') {
    width: 190px;
    margin-left: -30px;
    padding-left: 30px;
  }
}