.content-body {
  ul {
    margin-bottom: 1.7em;
  }
}

.content-img {
  position: relative;
  max-width: 100%;

  @include media('<=medium') {
    margin-bottom: 20px;
  }

  @include media('>medium') {
    width: 80%;
  }
  
  &.t-right {
    @include media('>medium') {
      float: right;
      right: -42px;
    }

    @include media('>large') {
      right: -135px;
    }
  }

  &.t-left {
    @include media('>medium') {
      left: -70px;
      transform: translateY(-48%);
    }
  }
}