.img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.img-large {
  width: 100%;

  &.is-fixed {
    z-index: -10;
  }

  @include media('>medium') {
    position: absolute;
    top: 0;
    left: -100px;
    width: 55%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(70px 0, 100% 0, calc(100% - 70px) 100%, 0 100%);
  }

  @include media('>xlarge') {
    width: 62%;
  }
}