.intro {
  margin: 0 0 50px 0;

  @include media('>medium') {
    margin: 13px 0 0 0;
    padding-right: 40px;
  }
  
  dt {
    margin-bottom: 0.15em;

    font-style: italic;
    letter-spacing: 1.2px;
  }

  dd {
    margin-bottom: 0.7em;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media('>medium') {
      font-size: 35px;
    }
  }
}

.intro-slide {
  position: relative;
  overflow: hidden;
  height: calc(1em + 1px);

  font-size: inherit;

  li {
    position: absolute;
    padding-top: 1px;

    &:not(.is-active) {
      top: 100%;
    }

    span {
      @include media('<=medium') {
        display: none;
      }
    }
  }
}