.nav {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;

  @include media('>medium') {
    top: 32px;
    right: 27px;
  }

  @include media('>large') {
    right: 72px;
  }

  ul {
    @include media('<=medium') {
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 110px 20px 0;

      background: #fff;

      text-align: center;

      transition: opacity 0.4s;
      pointer-events: none;

      &.is-active {
        opacity: 1;
        pointer-events: all;
      }
    }

    li {
      @include media('<=medium') {
        margin-bottom: 20px;
      }
    }

    a {
      display: inline-block;
      margin: 0 16px;
      position: relative;
  
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        content: '';
        display: block;
        position: relative;
        bottom: 5px;
        height: 2px;
        margin: 0 auto;

        background: #000;

        opacity: 0;
        transition: bottom 0.2s, opacity 0.2s;
      }

      &:hover,
      &.is-active {
        &::after {
          bottom: 0;
          opacity: 1;
        }
      }
    }

    @include media('>medium') {
      display: flex;
    }
  }
}

.nav-burger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  z-index: 11;

  @include media('>medium') {
    display: none;
  }
}

.nav-burger-inner {
  position: absolute;
  width: 30px;
  height: 3px;
  bottom: 0;

  background-color: #000;
  
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: .13s;

  &::before {
    @extend .nav-burger-inner;
    
    content: '';
    top: -8px;
    transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
  }

  &::after {
    @extend .nav-burger-inner;
    
    content: '';
    top: -16px;
    transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
  }
}

.nav-burger.is-active {
  .nav-burger-inner {
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: translate3d(0,-10px,0) rotate(-45deg);

    &::before {
      top: 0;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transform: rotate(-90deg);
    }

    &::after {
      top: 0;
      transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      transform: none;
      opacity: 0;
    }
  }
}