.next {
  display: none;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase;

  &::before {
    content: url(../img/arrow_right.svg);
    display: block;
    width: 30px;
    margin-bottom: 10px;
  }

  @include media(">large") {
    display: block;
  }
}